@model UserPasswordVM


<h1>ManagePassword</h1>

<h4>Manage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManagePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden"/>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                <span class="text-danger">@Html.ValidationMessageFor(p=>p.ErrorMessage)</span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComparePassword" class="control-label"></label>
                <input asp-for="ComparePassword" class="form-control" />
                <span asp-validation-for="ComparePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="EditProfile" asp-route-id="@Model.Id">Cancel</a>|
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
